@font-face {
	font-family:'game';
	src: url(汉仪雪君体简.ttf);
}
body,html{
	font-family: 'game';
	font-size: 16px;
}
.clear{
	clear: both;
}
.login-con{
	background-image: url(../img/login-bg.jpg);
	width: 1200px;
	height: 600px;
	margin: auto;
	position: relative;
}
.login-con input[type=text]{
	position: absolute;
	left: 480px;
	bottom:175px;
	height: 50px;
	width: 230px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	text-align: center;
	font-family:'game';
	font-size: 20px;
}
.login-con button{
	position: absolute;
	left: 480px;
	bottom:90px;
	height: 50px;
	width: 230px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-family:'game';
	font-size: 20px;
}
.login-con input:hover,.login-con button:hover{
	color: gray;
	transition:all 0.5s linear;
}
.main-con{
	background-image: url(../img/main-bg.jpg);
	width: 1200px;
	height: 600px;
	margin: auto;
	position: relative;
}
.main-con .userinfo{
	position: absolute;
	width: 260px;
	height: 160px;
	left: 100px;
	top: 60px;
	background-color: transparent;
	border: none;
	outline: none;
	font-family: 'game';
}
.main-con .online{
	position: absolute;
	width: 285px;
	height: 175px;
	left: 100px;
	bottom: 135px;	
}
.online-top h2{
	float:left ;
	margin: 0px;
}
.online-top span{
	float: right;
	margin-bottom: 20px;
}
.online-bottom{
	height:130px;
	overflow-y: scroll;
}
.online-bottom table{
	width: 100%;
}
.online-bottom table tr{
	height: 30px;
}
.rooms{
	position: absolute;
	width: 680px;
	height: 170px;
	top: 50px;
	right: 70px;
}
.rooms h2{
	margin: 0px;
	text-align: center;
}
.roombottom{
	height: 130px;
	overflow-y: scroll;
}
.fangjian{
	margin: 20px;
	float: left;
	text-align: center;
}
.chat{
	position: absolute;
	width: 680px;
	height: 260px;
	right: 70px;
	bottom: 60px;	
}
.chat h2{
	text-align: center;
	margin: 0px;
}
.chat{
	overflow: hidden;
}
.chat .body{
	height: 160px;
	overflow-y:scroll ;
}
.chat .body ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	
}
.chat .body ul li{
	margin: 20px;
	line-height: 10px;
	
}
.chat .footer input[type=text]{
	position: absolute;
	border-radius:5px;
	left: 200px;
	bottom:15px;
	height: 25px;
	width: 200px;
	background-color: transparent;
	border: 2px solid black;
	outline: none;
	color: black;
	text-align: center;
	font-family:'game';
	font-size: 20px;
}
.chat .footer button{
	position: absolute;
	border-radius:5px;
	left: 420px;
	bottom:18px;
	height: 25px;
	width: 70px;
	background-color: transparent;
	outline: none;
	color: black;
	text-align: center;
	font-family:'game';
	font-size: 20px;
}
.chat .footer button:hover{
	color: black;
}
.main-con input[type=text]{
	position: absolute;
	left: 53px;
	bottom:38px;
	height: 50px;
	width: 230px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	text-align: center;
	font-family:'game';
	font-size: 20px;
}
.main-con button{
	position: absolute;
	left: 205px;
	bottom:38px;
	height: 50px;
	width: 230px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	text-align: center;
	font-family:'game';
	font-size: 20px;
}
.main-con input:hover,.main-con button:hover{
	color: gray;
	transition:all 0.5s linear;
}
.red{
	color: red;
}
.blue{
	color: blue;
}
.green{
	color: green;
}
.yellow{
	color: yellow;
}
