body{
	 background-image:url(img/bg3.JPG) ;
	 }
.photo {
	margin: 10px;padding: 10px;float: left;background: white;
}
.photo img{
	height: 150px;
}
.photo p{
	text-align: center;font-size:10px;font-family: "微软雅黑";
}
